= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :gender
    = f.select :gender, ['Male', 'Female', 'Other']
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :maiden_name
    = f.text_field :maiden_name
  .field
    = f.label :birth_date
    = f.date_field :birth_date
  .field
    = f.label :death_date
    = f.date_field :death_date
  .field
    = f.label :contact_numbers
    = f.text_field :contact_numbers
  .field
    = f.label :whatsapp_number
    = f.text_field :whatsapp_number
  .actions
    = f.submit 'Save'
