= form_for [@person, @relationship] do |f|
  - if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :relation
    = f.collection_select :relation_id, Relation.all, :id, :name
  .field
    = f.label :related_person
    = f.collection_select :related_person_id, Person.all, :id, :name
    Not found ?
    = link_to 'Add new', new_person_path
  .actions
    = f.submit 'Save'
