%h1 Listing relationships for #{@person.name}

%table
  %thead
    %tr
      %th Relation
      %th Related person
      %th
      %th
      %th

  %tbody
    - @relationships.each do |relationship|
      %tr
        %td= relationship.applicable_relation_name(@person)
        %td= link_to relationship.related_person.name, person_path(relationship.related_person)
        %td= link_to 'Show Relationship', person_relationship_path(@person, relationship)
        %td= link_to 'Edit Relationship', edit_person_relationship_path(@person, relationship)
        %td= link_to 'Remove Relationship', person_relationship_path(@person, relationship), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Relationship', new_person_relationship_path(@person)
\|
= link_to 'Back', edit_person_path(@person)