%h1 Listing relationship_types

%table
  %thead
    %tr
      %th Name
      %th InverseName
      %th
      %th
      %th

  %tbody
    - @relationship_types.each do |relationship_type|
      %tr
        %td= relationship_type.name
        %td= relationship_type.inverse_name
        %td= link_to 'Show', relationship_type
        %td= link_to 'Edit', edit_relationship_type_path(relationship_type)
        %td= link_to 'Destroy', relationship_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Relationship type', new_relationship_type_path
